.lpsubpageheadinglabelcontent {
   width: 100%;
   background-color: #B4B4B4 
}

.lppagetitle {
    position: relative;
    top: 25px;
    text-align: right;
    padding-right: 10px;
    font-size: 24px;
    font-family: Verdana, "sans serif";
    color: white ;
}

