<?xml version="1.0" encoding="UTF-8"?>
<skin name="twentytwelve">
	<colourHexValues>
		<!-- Background & panel colours -->
		<backGroundColour>0xFFFFFF</backGroundColour>
		<mainPanelBkgrColour>0x51A7E8</mainPanelBkgrColour>	
		<generalTextColour>0xFFFFFF</generalTextColour>		
		<baseBarTextColour>0x999999</baseBarTextColour>
		<!-- Subject boxes -->
		<subjectBoxOutlineColour>0xFFFFFF</subjectBoxOutlineColour>		
		<subjectBoxFillColour>0xEB008B</subjectBoxFillColour>
		<subjectBoxTextColour>0xFFFFFF</subjectBoxTextColour>	
		<subjectBoxRollFillColour>0xFFF100</subjectBoxRollFillColour>
		<subjectBoxRollOutlineColour>0xFFF100</subjectBoxRollOutlineColour>
		<subjectBoxRollTextColour>0x51A7E8</subjectBoxRollTextColour>
		<!-- Item box and container -->
		<itemContainerOutlineColour>0xFFFFFF</itemContainerOutlineColour>	
		<itemContainerFillColour>0x51A7E8</itemContainerFillColour>
		<itemContainerTextColour>0xFFFFFF</itemContainerTextColour>	
		<itemContainerSelectOutlineColour>0xFFFFFF</itemContainerSelectOutlineColour>
		<itemContainerSelectFillColour>0xEB008B</itemContainerSelectFillColour>
		<itemContainerSelectTextColour>0xFFFFFF</itemContainerSelectTextColour>
		<!-- Alert box -->
		<alertOutlineColour>0xFFFFFF</alertOutlineColour>	
		<alertFillColour>0xEB008B</alertFillColour>
		<alertTextColour>0xFFFFFF</alertTextColour>	
		<alertButtonOutlineColour>0xFFFFFF</alertButtonOutlineColour>	
		<alertButtonFillColour>0x51A7E8</alertButtonFillColour>
		<alertButtonTextColour>0xFFFFFF</alertButtonTextColour>	
		<!-- Title bar -->
		<messageStarColour>0xFFFFFF</messageStarColour>
		<titleBarFillColour>0xEB008B</titleBarFillColour>
		<titleBarTextColour>0xFFFFFF</titleBarTextColour>
		<!-- Dock -->
		<dockFillAndLinkingLinesColour>0xFFFFFF</dockFillAndLinkingLinesColour>
		<dockTextColour>0xEB008B</dockTextColour>
		<dockIconsColour>0xEB008B</dockIconsColour>
		<!-- Scroll bars -->
		<scrollOutlineColour>0xFFFFFF</scrollOutlineColour>
		<scrollFillColour>0xFFFFFF</scrollFillColour>
		<scrollButtonColour>0xEB008B</scrollButtonColour>
		<!-- Drop down boxes -->
		<dropOutlineColour>0xFFFFFF</dropOutlineColour>
		<dropFillColour>0xEB008B</dropFillColour>
		<dropTextColour>0xFFFFFF</dropTextColour>
		<dropRollOutlineColour>0xFFFFFF</dropRollOutlineColour>
		<dropRollFillColour>0x51A7E8</dropRollFillColour>
		<dropRollTextColour>0xFFFFFF</dropRollTextColour>
		<!-- Context Menu -->
		<contextOutlineColour>0xFFFFFF</contextOutlineColour>
		<contextFillColour>0xEB008B</contextFillColour>
		<contextTextColour>0xFFFFFF</contextTextColour>
		<contextRollOutlineColour>0xFFFFFF</contextRollOutlineColour>
		<contextRollFillColour>0x51A7E8</contextRollFillColour>
		<contextRollTextColour>0xFFFFFF</contextRollTextColour>
		<!-- Pies -->
		<pieChartBackgroundColour>0x51A7E8</pieChartBackgroundColour>
		<pieChartCompleteColour>0xEB008B</pieChartCompleteColour>
		<pieChartTextColour>0xFFFFFF</pieChartTextColour>
		<pieChartTextRollColour>0xFFF100</pieChartTextRollColour>
	</colourHexValues>
	<topNav>
		<bar>flashImages/topBar.png</bar>
		<smartLogo></smartLogo>
		<realSmartLogo>flashImages/aliteLogo.png</realSmartLogo>
		<myMessagesTextOff>flashImages/myMessagesTextOff.png</myMessagesTextOff>
		<myLearningTextOff>flashImages/myLearningTextOff.png</myLearningTextOff>
		<myContentTextOff>flashImages/myContentTextOff.png</myContentTextOff>
		<myProfileTextOff>flashImages/myProfileTextOff.png</myProfileTextOff>
		<myMessagesTextOn>flashImages/myMessagesTextOn.png</myMessagesTextOn>
		<myLearningTextOn>flashImages/myLearningTextOn.png</myLearningTextOn>
		<myContentTextOn>flashImages/myContentTextOn.png</myContentTextOn>
		<myProfileTextOn>flashImages/myProfileTextOn.png</myProfileTextOn>
		<myMessagesIconOff>flashImages/myMessagesIconOff.png</myMessagesIconOff>
		<myLearningIconOff>flashImages/myLearningIconOff.png</myLearningIconOff>
		<myContentIconOff>flashImages/myContentIconOff.png</myContentIconOff>
		<myProfileIconOff>flashImages/myProfileIconOff.png</myProfileIconOff>
		<myMessagesIconOn>flashImages/myMessagesIconOn.png</myMessagesIconOn>
		<myLearningIconOn>flashImages/myLearningIconOn.png</myLearningIconOn>
		<myContentIconOn>flashImages/myContentIconOn.png</myContentIconOn>
		<myProfileIconOn>flashImages/myProfileIconOn.png</myProfileIconOn>
		<refreshButton>flashImages/refreshButton.png</refreshButton>
		<helpButton>flashImages/helpButton.png</helpButton>
		<logoutButton>flashImages/logoutButton.png</logoutButton>
		<toolsButton>flashImages/toolsButton.png</toolsButton>
		<passportButton>flashImages/passportButton.png</passportButton>
	</topNav>
	<mainPanel>
		<backGroundColour>0x606831</backGroundColour>
	</mainPanel>
	<lowerNav>
		<lowerNavBar>flashImages/lowerNavBar.png</lowerNavBar>
		<lowerNavSlider>flashImages/lowerNavSlider.png</lowerNavSlider>
		<lowerNavChooseSubject>flashImages/lowerNavChooseSubject.png</lowerNavChooseSubject>
		<lowerNavChooseUnit>flashImages/lowerNavChooseUnit.png</lowerNavChooseUnit>
	</lowerNav>
	<pieChart>
		<pieChartFlashCompleteAnimation></pieChartFlashCompleteAnimation>
		<!--<pieChartCompleteImageBig>flashImages/pieCompleteImage.png</pieChartCompleteImageBig>
		<pieChartInCompleteImageBig>flashImages/pieInCompleteImage.png</pieChartInCompleteImageBig>-->
	</pieChart>
	<preLoader>
		<component></component>
	</preLoader>
</skin>