table.seealso {
   width: 100%;
   border: 2px solid #FEC760;
   border-collapse:separate;
}

td.custombox-header-thumb.seealso {
   background-color: #FEC760;
   width:40px;
}

td.custombox-header-caption.seealso {
    background-color: #FEC760;
    color:#C66B22;
    font-weight:bolder;
}

td.custombox-content.seealso {
    padding:5px;
}

td.custombox-content.seealso h1,
td.custombox-content.seealso h2,
td.custombox-content.seealso h3{
    background-image:none !important;
    padding-left:0px !important;
    color:#742610 !important;
    font-weight:bolder !important;
}
