<?xml version="1.0" encoding="UTF-8"?>
<skin name="yst">
	<colourHexValues>
		<!-- Background & panel colours -->
		<backGroundColour>0xCA003B</backGroundColour>
		<mainPanelBkgrColour>0x256EB0</mainPanelBkgrColour>	
		<generalTextColour>0xFFFFFF</generalTextColour>	
		<baseBarTextColour>0x256EB0</baseBarTextColour>
		<!-- Subject boxes -->
		<subjectBoxOutlineColour>0xFFFFFF</subjectBoxOutlineColour>	
		<subjectBoxFillColour>0xCA003B</subjectBoxFillColour>
		<subjectBoxTextColour>0xFFFFFF</subjectBoxTextColour>	
		<subjectBoxRollFillColour>0xCA003B</subjectBoxRollFillColour>
		<subjectBoxRollOutlineColour>0xCA003B</subjectBoxRollOutlineColour>
		<subjectBoxRollTextColour>0xFFFFFF</subjectBoxRollTextColour>
		<!-- Item box and container -->
		<itemContainerOutlineColour>0xFFFFFF</itemContainerOutlineColour>	
		<itemContainerFillColour>0xCA003B</itemContainerFillColour>
		<itemContainerTextColour>0xFFFFFF</itemContainerTextColour>	
		<itemContainerSelectOutlineColour>0xCA003B</itemContainerSelectOutlineColour>
		<itemContainerSelectFillColour>0xCA003B</itemContainerSelectFillColour>
		<itemContainerSelectTextColour>0xFFFFFF</itemContainerSelectTextColour>
		<!-- Tooltip -->
		<tooltipOutlineColour>0xFFFFFF</tooltipOutlineColour>	
		<tooltipFillColour>0xCA003B</tooltipFillColour>
		<tooltipTextColour>0xFFFFFF</tooltipTextColour>	
		<!-- Alert box -->
		<alertOutlineColour>0xFFFFFF</alertOutlineColour>	
		<alertFillColour>0xCA003B</alertFillColour>
		<alertTextColour>0xFFFFFF</alertTextColour>	
		<alertButtonOutlineColour>0xFFFFFF</alertButtonOutlineColour>	
		<alertButtonFillColour>0x256EB0</alertButtonFillColour>
		<alertButtonTextColour>0xFFFFFF</alertButtonTextColour>	
		<!-- Title bar -->
		<messageStarColour>0xCA003B</messageStarColour>
		<titleBarFillColour>0xBBD1E6</titleBarFillColour>
		<titleBarTextColour>0xCA003B</titleBarTextColour>
		<!-- Dock -->
		<dockFillAndLinkingLinesColour>0xFFFFFF</dockFillAndLinkingLinesColour>
		<dockTextColour>0x256EB0</dockTextColour>
		<dockIconsColour>0x256EB0</dockIconsColour>
		<!-- Scroll bars -->
		<scrollOutlineColour>0xFFFFFF</scrollOutlineColour>
		<scrollFillColour>0xCA003B</scrollFillColour>
		<scrollButtonColour>0x256EB0</scrollButtonColour>
		<!-- Drop down boxes -->
		<dropOutlineColour>0x256EB0</dropOutlineColour>
		<dropFillColour>0xFFFFFF</dropFillColour>
		<dropTextColour>0x256EB0</dropTextColour>
		<dropRollOutlineColour>0xFFFFFF</dropRollOutlineColour>
		<dropRollFillColour>0xCA003B</dropRollFillColour>
		<dropRollTextColour>0xFFFFFF</dropRollTextColour>
		<!-- Context Menu -->
		<contextOutlineColour>0xFFFFFF</contextOutlineColour>
		<contextFillColour>0x256EB0</contextFillColour>
		<contextTextColour>0xFFFFFF</contextTextColour>
		<contextRollOutlineColour>0xFFFFFF</contextRollOutlineColour>
		<contextRollFillColour>0xFFFFFF</contextRollFillColour>
		<contextRollTextColour>0x256EB0</contextRollTextColour>
		<!-- Pies -->
		<pieChartBackgroundColour>0x256EB0</pieChartBackgroundColour>
		<pieChartCompleteColour>0xCA003B</pieChartCompleteColour>
		<pieChartTextColour>0xFFFFFF</pieChartTextColour>
		<pieChartTextRollColour>0xBBD1E6</pieChartTextRollColour>
	</colourHexValues>
	<topNav>
		<bar>flashImages/topBar.png</bar>
		<smartLogo>flashImages/smartLogo.png</smartLogo>
		<realSmartLogo>flashImages/realSmartLogo.png</realSmartLogo>
		<myMessagesTextOff>flashImages/myMessagesTextOff.png</myMessagesTextOff>
		<myLearningTextOff>flashImages/myLearningTextOff.png</myLearningTextOff>
		<myContentTextOff>flashImages/myContentTextOff.png</myContentTextOff>
		<myProfileTextOff>flashImages/myProfileTextOff.png</myProfileTextOff>
		<myMessagesTextOn>flashImages/myMessagesTextOn.png</myMessagesTextOn>
		<myLearningTextOn>flashImages/myLearningTextOn.png</myLearningTextOn>
		<myContentTextOn>flashImages/myContentTextOn.png</myContentTextOn>
		<myProfileTextOn>flashImages/myProfileTextOn.png</myProfileTextOn>
		<myMessagesIconOff>flashImages/myMessagesIconOff.png</myMessagesIconOff>
		<myLearningIconOff>flashImages/myLearningIconOff.png</myLearningIconOff>
		<myContentIconOff>flashImages/myLearningIconOff.png</myContentIconOff>
		<myProfileIconOff>flashImages/myProfileIconOff.png</myProfileIconOff>
		<myMessagesIconOn>flashImages/myMessagesIconOn.png</myMessagesIconOn>
		<myLearningIconOn>flashImages/myLearningIconOn.png</myLearningIconOn>
		<myContentIconOn>flashImages/myLearningIconOn.png</myContentIconOn>
		<myProfileIconOn>flashImages/myProfileIconOn.png</myProfileIconOn>
		<refreshButton>flashImages/refreshButton.png</refreshButton>
		<helpButton>flashImages/helpButton.png</helpButton>
		<logoutButton>flashImages/logoutButton.png</logoutButton>
		<toolsButton>flashImages/toolsButton.png</toolsButton>
		<passportButton>flashImages/passportButton.png</passportButton>
	</topNav>
	<mainPanel>
		<backGroundColour>0xFFFFFF</backGroundColour>
	</mainPanel>
	<lowerNav>
		<lowerNavBar>flashImages/lowerNavBar.png</lowerNavBar>
		<lowerNavSlider>flashImages/lowerNavSlider.png</lowerNavSlider>
		<lowerNavChooseSubject>flashImages/lowerNavChooseSubject.png</lowerNavChooseSubject>
		<lowerNavChooseUnit>flashImages/lowerNavChooseUnit.png</lowerNavChooseUnit>
	</lowerNav>
	<pieChart>
		<pieChartFlashCompleteAnimation></pieChartFlashCompleteAnimation>
		<!--<pieChartCompleteImageBig>flashImages/pieCompleteImage.png</pieChartCompleteImageBig>
		<pieChartInCompleteImageBig>flashImages/pieInCompleteImage.png</pieChartInCompleteImageBig>-->
	</pieChart>
	<preLoader>
		<component></component>
	</preLoader>
</skin>