<?xml version="1.0" encoding="UTF-8"?>
<skin name="Default Template">
	<colourHexValues>
		<!-- Background & panel colours -->
		<backGroundColour>0</backGroundColour>
		<mainPanelBkgrColour>0</mainPanelBkgrColour>	
		<generalTextColour>0</generalTextColour>		
		<baseBarTextColour>0</baseBarTextColour>
		<!-- Subject boxes -->
		<subjectBoxOutlineColour>0</subjectBoxOutlineColour>	
		<subjectBoxFillColour>0</subjectBoxFillColour>
		<subjectBoxTextColour>0</subjectBoxTextColour>	
		<subjectBoxRollOutlineColour>0</subjectBoxRollOutlineColour>
		<subjectBoxRollFillColour>0</subjectBoxRollFillColour>
		<subjectBoxRollTextColour>0</subjectBoxRollTextColour>
		<!-- Item box and container -->
		<itemContainerOutlineColour>0</itemContainerOutlineColour>	
		<itemContainerFillColour>0</itemContainerFillColour>
		<itemContainerTextColour>0</itemContainerTextColour>	
		<itemContainerSelectOutlineColour>0</itemContainerSelectOutlineColour>
		<itemContainerSelectFillColour>0</itemContainerSelectFillColour>
		<itemContainerSelectTextColour>0</itemContainerSelectTextColour>
		<!-- Tooltip -->
		<tooltipOutlineColour>0</tooltipOutlineColour>	
		<tooltipFillColour>0</tooltipFillColour>
		<tooltipTextColour>0</tooltipTextColour>	
		<!-- Alert box -->
		<alertOutlineColour>0</alertOutlineColour>	
		<alertFillColour>0</alertFillColour>
		<alertTextColour>0</alertTextColour>	
		<alertButtonOutlineColour>0</alertButtonOutlineColour>	
		<alertButtonFillColour>0</alertButtonFillColour>
		<alertButtonTextColour>0</alertButtonTextColour>	
		<!-- Title bar -->
		<messageStarColour>0</messageStarColour>
		<titleBarFillColour>0</titleBarFillColour>
		<titleBarTextColour>0</titleBarTextColour>
		<!-- Dock -->
		<dockFillAndLinkingLinesColour>0</dockFillAndLinkingLinesColour>
		<dockIconsColour>0</dockIconsColour>
		<dockTextColour>0</dockTextColour>
		<!-- Scroll bars -->
		<scrollOutlineColour>0</scrollOutlineColour>
		<scrollFillColour>0</scrollFillColour>
		<!-- Drop down boxes -->
		<dropOutlineColour>0</dropOutlineColour>
		<dropFillColour>0</dropFillColour>
		<dropTextColour>0</dropTextColour>
		<dropRollOutlineColour>0</dropRollOutlineColour>
		<dropRollFillColour>0</dropRollFillColour>
		<dropRollTextColour>0</dropRollTextColour>
		<!-- Context Menu -->
		<contextOutlineColour>0</contextOutlineColour>
		<contextFillColour>0</contextFillColour>
		<contextTextColour>0</contextTextColour>
		<contextRollOutlineColour>0</contextRollOutlineColour>
		<contextRollFillColour>0</contextRollFillColour>
		<contextRollTextColour>0</contextRollTextColour>
		<!-- Pies -->
		<pieChartBackgroundColour>0</pieChartBackgroundColour>
		<pieChartCompleteColour>0</pieChartCompleteColour>
		<pieChartTextColour>0xFFFFFF</pieChartTextColour>
		<pieChartTextRollColour>0xFFFFFF</pieChartTextRollColour>
	</colourHexValues>
	<topNav>
		<bar>flashImages/topBar.png</bar>
		<smartLogo>flashImages/smartLogo.png</smartLogo>
		<realSmartLogo>flashImages/realSmartLogo.png</realSmartLogo>
		<myMessagesTextOff>flashImages/myMessagesTextOff.png</myMessagesTextOff>
		<myLearningTextOff>flashImages/myLearningTextOff.png</myLearningTextOff>
		<myContentTextOff>flashImages/myLearningTextOff.png</myContentTextOff>
		<myProfileTextOff>flashImages/myProfileTextOff.png</myProfileTextOff>
		<myMessagesTextOn>flashImages/myMessagesTextOn.png</myMessagesTextOn>
		<myLearningTextOn>flashImages/myLearningTextOn.png</myLearningTextOn>
		<myContentTextOn>flashImages/myLearningTextOn.png</myContentTextOn>
		<myProfileTextOn>flashImages/myProfileTextOn.png</myProfileTextOn>
		<myMessagesIconOff>flashImages/myMessagesIconOff.png</myMessagesIconOff>
		<myLearningIconOff>flashImages/myLearningIconOff.png</myLearningIconOff>
		<myContentIconOff>flashImages/myLearningIconOff.png</myContentIconOff>
		<myProfileIconOff>flashImages/myProfileIconOff.png</myProfileIconOff>
		<myMessagesIconOn>flashImages/myMessagesIconOn.png</myMessagesIconOn>
		<myLearningIconOn>flashImages/myLearningIconOn.png</myLearningIconOn>
		<myContentIconOn>flashImages/myLearningIconOn.png</myContentIconOn>
		<myProfileIconOn>flashImages/myProfileIconOn.png</myProfileIconOn>
		<refreshButton>flashImages/refreshButton.png</refreshButton>
		<helpButton>flashImages/helpButton.png</helpButton>
		<logoutButton>flashImages/logoutButton.png</logoutButton>
		<toolsButton>flashImages/toolsButton.png</toolsButton>
		<passportButton>flashImages/passportButton.png</passportButton>
	</topNav>
	<lowerNav>
		<lowerNavBar>flashImages/lowerNavBar.png</lowerNavBar>
		<lowerNavSlider>flashImages/lowerNavSlider.png</lowerNavSlider>
		<lowerNavChooseSubject>flashImages/lowerNavChooseSubject.png</lowerNavChooseSubject>
		<lowerNavChooseUnit>flashImages/lowerNavChooseUnit.png</lowerNavChooseUnit>
	</lowerNav>
	<pieChart>
		<pieChartFlashCompleteAnimation></pieChartFlashCompleteAnimation>
		<!--<pieChartCompleteImageBig>flashImages/pieCompleteImage.png</pieChartCompleteImageBig>
		<pieChartInCompleteImageBig>flashImages/pieInCompleteImage.png</pieChartInCompleteImageBig>-->
	</pieChart>
	<preLoader>
		<component>swf/preLoader_default.swf</component>
	</preLoader>
</skin>