<?xml version="1.0" encoding="UTF-8"?>
<skin name="aliteProfiler">
	<colourHexValues>
		<!-- 
		<backGroundColour>0x282828</backGroundColour>
		<mainPanelBkgrColour>0x000000</mainPanelBkgrColour>	
		<generalTextColour>0xFFFFFF</generalTextColour>		
		<subjectBoxOutlineColour>0x282828</subjectBoxOutlineColour>	
		<subjectBoxFillColour>0xB6D4FC</subjectBoxFillColour>
		<subjectBoxTextColour>0xFFFFFF</subjectBoxTextColour>	
		<subjectBoxRollFillColour>0x1835FF</subjectBoxRollFillColour>
		<subjectBoxRollOutlineColour>0x282828</subjectBoxRollOutlineColour>
		<subjectBoxRollTextColour>0xFFFFFF</subjectBoxRollTextColour>
		<messageStarColour>0xE72915</messageStarColour>
		<titleBarFillColour>0x1835FF</titleBarFillColour>
		<titleBarTextColour>0xFFFFFF</titleBarTextColour>
		<dockFillAndLinkingLinesColour>0x010099</dockFillAndLinkingLinesColour>
		<dockTextColour>0xFFFFFF</dockTextColour>
		<allOtherBoxFillColour>0x010099</allOtherBoxFillColour>
		<allOtherBoxOutlineColour>0xFFFFFF</allOtherBoxOutlineColour>
		<allOtherBoxTextColour>0xFFFFFF</allOtherBoxTextColour>
		<baseBarTextColour>0x999999</baseBarTextColour>
		 -->
		 
		<alite1BackgroundColour>0xeb008b</alite1BackgroundColour>
		<alite1HighlightColour>0xf1a7c8</alite1HighlightColour>
		<alite1ShadowColour>0x9b147b</alite1ShadowColour>
		<alite1OutlineColour>0xFFFFFF</alite1OutlineColour>
		<alite1TitleColour>0xFFFFFF</alite1TitleColour>
		<alite1TextColour>0x000000</alite1TextColour>
		<alite1RollBackgroundColour>0x231f20</alite1RollBackgroundColour>
		<alite1RollHighlightColour>0xbcbcbe</alite1RollHighlightColour>
		<alite1RollShadowColour>0x626367</alite1RollShadowColour>
		<alite1RollOutlineColour>0xFFFFFF</alite1RollOutlineColour>
		<alite1RollTitleColour>0xFFFFFF</alite1RollTitleColour>
		<alite2BackgroundColour>0xffd200</alite2BackgroundColour>
		<alite2HighlightColour>0xfeecac</alite2HighlightColour>
		<alite2ShadowColour>0xd5a618</alite2ShadowColour>
		<alite2OutlineColour>0xFFFFFF</alite2OutlineColour>
		<alite2TitleColour>0xFFFFFF</alite2TitleColour>
		<alite2TextColour>0x000000</alite2TextColour>
		<alite2RollBackgroundColour>0x231f20</alite2RollBackgroundColour>
		<alite2RollHighlightColour>0xbcbcbe</alite2RollHighlightColour>
		<alite2RollShadowColour>0x626367</alite2RollShadowColour>
		<alite2RollOutlineColour>0xFFFFFF</alite2RollOutlineColour>
		<alite2RollTitleColour>0xFFFFFF</alite2RollTitleColour>
		<alite3BackgroundColour>0x3699ff</alite3BackgroundColour>
		<alite3HighlightColour>0xb5d5fc</alite3HighlightColour>
		<alite3ShadowColour>0x1949c7</alite3ShadowColour>
		<alite3OutlineColour>0xFFFFFF</alite3OutlineColour>
		<alite3TitleColour>0xFFFFFF</alite3TitleColour>
		<alite3TextColour>0x000000</alite3TextColour>
		<alite3RollBackgroundColour>0x231f20</alite3RollBackgroundColour>
		<alite3RollHighlightColour>0xbcbcbe</alite3RollHighlightColour>
		<alite3RollShadowColour>0x626367</alite3RollShadowColour>
		<alite3RollOutlineColour>0xFFFFFF</alite3RollOutlineColour>
		<alite3RollTitleColour>0xFFFFFF</alite3RollTitleColour>
		
	</colourHexValues>
</skin>